extends layout
block content
  include partials/header
  header.header
    .container.mt-5
      .row
        .col-md-6.my-auto
          img(src="/images/banner.jpg", alt="banner")
        .col-md-6.my-auto
          h1.display-3 Shoes Shop
          p.h6.mt-3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, iusto itaque? Mollitia atque necessitatibus fuga sapiente sit earum dolore, culpa aut, debitis, praesentium sequi doloremque possimus? Laboriosam dolores suscipit totam!
          a.btn.btn-outline-secondary.btn-lg.mt-3(href="/signin") Sign In
  section.hola
    .container
      p.h4.mb-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos assumenda fugiat accusamus repudiandae, incidunt perferendis eos atque quis, ut a est cum totam minus maxime ullam rerum, nam eaque! Eos.
      p.h5 - Ryan ray
  section
    .container
      h2.hola2.h1.mt-5 Latest Produts
      .row.mt-5
        .col-md-6.my-auto
          img(src="/images/banner.jpg", alt="")
        .col-md-6.my-auto
          span.m-2.h6 white color
          span.m-2.h6 price $50
          h2.display-1 Bast shoe
          a.btn.btn-outline-secondary.btn-lg.mt-3(href="/signin") Sign In
  section.hola3
    .container
      .row.my-5
        .col-md-6
          h2 Lorem, ipsum dolor.
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam aut deleniti veritatis exercitationem numquam corrupti ipsum unde neque ratione nisi! Dolore illum molestias quod error voluptatibus corporis culpa, nihil dolorem.
        .col-md-6
          h2 Lorem, ipsum dolor.
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam aut deleniti veritatis exercitationem numquam corrupti ipsum unde neque ratione nisi! Dolore illum molestias quod error voluptatibus corporis culpa, nihil dolorem.
  footer.bg-dark
    .container
      h2.mx-auto.h1 footer