extends layout
block content
  include partials/header
  header.header
    .container
      .col-md-6.mx-auto
        .card
          if (signupMessage.length)
            .alert.alert-danger
              p.h6 #{signupMessage}
          .card-header
            h3 Sign Up
          .card-body
            form(action="signup", method="post")
              .form-group
                input.form-control(type="text", name="nit", placeholder="Nit")
              .form-group
                input.form-control(type="text", name="firstname", placeholder="FirsName")
              .form-group
                input.form-control(type="text", name="lastname", placeholder="LastName")
              .form-group
                input.form-control(type="number", name="telephone", placeholder="Telephone")
              .form-group
                input.form-control(type="text", name="address", placeholder="Address")
              .form-group
                input.form-control(type="email", name="email", placeholder="E-mail")
              .form-group
                input.form-control(type="password", name="password", placeholder="Password")
              .form-group
                button.btn.btn-primary.btn-block(type="submit") Save